<h1 class="page-header"> Edit <%= @dog.name %></h1>

<div class="ui form segment">
  <%= form_for @dog do |f| %>
  <div class="three fields">
    <div class="field">
      <%= f.label :name %>
      <div class="field">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="field">
      <label>Gender</label>
      <div class="field">
        <div class="ui selection dropdown">
          <div class="default text">Gender</div>
          <i class="dropdown icon"></i>
          <input id="new-gender" name="dog[gender]" type="hidden">
          <div class="menu">
            <div class="item" data-value="Female">Female</div>
            <div class="item" data-value="Male">Male</div>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <%= f.label :age %>
      <div class="field">
        <%= f.text_field :age %>
      </div>
    </div>
  </div>

  <div class="four fields">
    <div class="field">
      <%= f.label :breed %>
      <div class="field">
        <%= f.text_field :breed %>
      </div>
    </div>
    <div class="field">
      <label>Personality</label>
      <div class="field">
        <div class="ui selection dropdown">
          <div class="default text">Personality</div>
          <i class="dropdown icon"></i>
          <input id="new-personality" name="dog[personality]" type="hidden">
          <div class="menu">
            <div class="item" data-value="Confident">Confident</div>
            <div class="item" data-value="Independent">Independent</div>
            <div class="item" data-value="Laidback">Laid Back</div>
            <div class="item" data-value="Shytimid">Shy/Timid</div>
            <div class="item" data-value="Adaptable">Adaptable</div>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <label>Favorite Game</label>
      <div class="field">
        <div class="ui selection dropdown">
          <div class="default text">Game</div>
          <i class="dropdown icon"></i>
          <input id="new-play" name="dog[play]" type="hidden">
          <div class="menu">
            <div class="item" data-value="Chase">Chase</div>
            <div class="item" data-value="Tug-o-war">Tug-O-War</div>
            <div class="item" data-value="Wrestling">Wrestling</div>
            <div class="item" data-value="Fetch">Fetch</div>
            <div class="item" data-value="Tag">Tag</div>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <label>Size</label>
      <div class="field">
        <div class="ui selection dropdown">
          <div class="default text">Size</div>
          <i class="dropdown icon"></i>
          <input id="new-play" name="dog[size]" type="hidden">
          <div class="menu">
            <div class="item" data-value="Petite">Petite</div>
            <div class="item" data-value="Small">Small</div>
            <div class="item" data-value="Medium">Medium</div>
            <div class="item" data-value="Large">Large</div>
            <div class="item" data-value="Extralarge">Extra Large</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="two fields">
    <div class="field">
      <%= f.label "Tell us a little more about your pup" %>
      <div class="field">
        <%= f.text_area :bio %>
      </div>
    </div>
    <div class="field">
      <%= f.label "Upload a picture of your pup!" %>
      <div class="field">
        <%= f.file_field :avatar %>
      </div>
    </div>
  </div>
  <div class="field">
    <%= f.submit 'Update', id: "update-dog", class: "ui submit button" %>
  </div>

  <% end %>
</div>
