<div class="ui two column stackable grid page-body">
  <div class="five wide column">
    <div class="ui segment">
      <a class="ui ribbon label"><%= current_user.full_name %></a>

      <div class="ui small circular image">
        <img id="user_image" src=<%= current_user.avatar %>>
      </div>

      <div class="ui segment">
        <div class="content" data-user-zipcode="<%= current_user.zipcode %>">
          <p><strong>Email: </strong><%= current_user.email %></p>
          <p><strong>Zipcode: </strong><%= current_user.zipcode %></p>
          <p><strong>Age: </strong><%= current_user.age %></p>
          <p><strong>Gender: </strong><%= current_user.gender %></p>
          <p><strong>Bio: </strong><%= current_user.bio %></p>
        </div>
      </div>
      <%= link_to "Edit", edit_user_path(current_user), id: "edit-user-action", class: "ui inverted primary-green button" %>
    </div>
    <div class="ui segment">
      <a class="ui ribbon label">Your Dogs</a>
      <% current_user.dogs.in_groups(3) do |column_dogs| %>
      <div class="column">
        <% column_dogs.each do |dog| %>
        <% break if dog.nil? %>
        <div class="ui card field pop-out">
          <div class="content dog" data-dog-id ="<%= dog.id %>">
            <div class="header">
              <div class="ui avatar image">
                <img id="dog_image" src=<%= dog.avatar %>>
              </div>
              <%= dog.name %>
            </div>
            <div class="description">
              <%= dog.bio %>
              <%= dog.personality %>
            </div>
          </div>
          <div class="ui bottom attached segment">
            <%= link_to "Edit", edit_dog_path(dog), id:"edit-dog-#{dog.id}-action", class: "ui inverted primary-green button" %>
            <%= link_to 'Delete Dog', dog_path(dog), method: :delete, data: {confirm: "Are you sure?"}, id:"delete-dog-#{dog.id}-action", class: "ui button" %>
          </div>
          <% end %>
          <div class ="one wide field"></div>
        </div>
        <% end %>
        <%= link_to "Add Dog", new_dog_path, id: "add-dog-action", class: "ui button primary-green-button" %>
      </div>
    </div>
  </div>
  <div class="eleven wide column">
    <div class="ui segment">
      <div class="ui segment">
        <h3 class="ui header center aligned">Potential Playmates</h3>
        <div class="ui three column grid">
          <% @dogs[0..2].each do |dog| %>
            <div class="column">
              <div class="ui fluid pop-out card">
                <div class="image dimmable">
                  <%= image_tag(dog.avatar_url) %>
                </div>
                <div class="content dog" data-dog-id="<%= dog.id %>">
                  <div class="header"><%= dog.name %></div>
                  <div class="meta">
                    Adoring Human: <%= link_to dog.user.user_name, user_path(dog.user), class: "group" %>
                  </div>
                  <div class="description" data-dog-id=<%="#{dog.id}"%>><%= dog.bio %>...<span><strong>more</strong></span>
                    <div class="inactive" id="more-info">
                      <ul>
                        <li><strong>Breed: </strong> <%= dog.breed %> </li>
                        <li><strong>Age: </strong> <%= dog.age %></li>
                        <li><strong>Gender: </strong><%= dog.gender %></li>
                        <li><strong>Size: </strong><%= dog.size %></li>
                        <li><strong>Play: </strong><%= dog.play %></li>
                        <li><strong>Personality: </strong><%= dog.personality %></li>
                      </ul>
                    </div>
                  </div>

                </div>
                <div class="extra content">
                  <div class="ui avatar image">
                    <%= image_tag(dog.user.avatar_url) %>
                  </div>
                  <% if current_user %>
                  <%= dog.user.user_name  %> <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: dog.user.id), method: 'post'%>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <h4>Dog Preferences</h4>
        <div class="ui segment">
          <table class="ui table">
            <thead>
              <tr>
                <th>Preference</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @filters.each do |filter| %>
              <tr>
                <% if filter.id != nil %>
                  <% if filter.type == "Zipcode" %>
                    <td>Based on <%= filter.type %>: <%= filter.content %></td>
                    <td><%= link_to "Edit Location", edit_filter_path(filter), id: "edit-filter-#{filter.id}" %></td>
                    <td></td>
                  <% elsif filter.type == "BlockedUser" %>
                  <% else %>
                    <td><%= filter.type %> Preference: <%= filter.content %></td>
                    <td><%= link_to "Edit Preference", edit_filter_path(filter), id: "edit-filter-#{filter.id}" %></td>
                    <td><%= link_to "Delete Preference", filter_path(filter.id), method: :delete, data: {confirm: "Are you sure you want to delete this preference?"}, id: "delete-filter-#{filter.id}-action" %></td>
                  <% end %>
                <% end %>
              </tr>
              <% end %>
              <% current_user.blocked_users_info.each do |blocked_hash| %>
                <tr>
                  <td>Blocked User: <%= (blocked_hash[:user]).user_name %></td>
                  <td><%= link_to "Unblock User", filter_path(blocked_hash[:filter_id]), method: :delete, data: {confirm: "Are you sure you want to unblock this user?"}, id: "unblock-user-#{blocked_hash[:name]}-action" %></td>
                  <td></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <%= link_to "Change Preferences", preferences_path, id:"preferences-link", class: "ui button primary-green-button" %>
      </div>
    </div>
      <div class="ui segment">
        <a class="ui ribbon label">Conversations</a>
        <h2 class="ui header">
          <div class="content">
            <div class="sub header medium">Paws-itive messages from your furry friends!
              <% if current_user.conversations.exists? && current_user.unread_messages_count > 0 %>
                <div class="ui green label"> <%= current_user.unread_messages_count %></div>
              <% end %>
            </div>
          </div>
        </h2>
        <div class="ui segment">
          <div class="ui divided animated list">
            <% @conversations.each do |conversation| %>
            <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
            <% if conversation.sender_id == current_user.id %>
            <% recipient = User.find(conversation.recipient_id) %>
            <% else %>
            <% recipient = User.find(conversation.sender_id) %>
            <% end %>
            <div class="item">
              <%= link_to 'Block User', filters_path(:filter => {type: "BlockedUser", content:"#{recipient.id}"}), method: 'post', id: "block-user-#{recipient.id}-action", class: "ui right floated ui button compact inverted red"%>
              <%= link_to 'See Conversation', conversation_messages_path(conversation), class: "ui button primary-green-button right floated compact", id: "see-conversation-#{conversation.id}" %>
              <%= image_tag recipient.avatar, class: "ui avatar image " %>
              <div class="content">
                <div class="header"><%= link_to recipient.user_name, conversation_messages_path(conversation), class: "header" %></div>
                <% if conversation.messages.last %>
                <% if conversation.messages.last.body.length > 40 %>
                <div class="description"> <%= conversation.messages.last.body[0..40] %>... </div>
                <% else %>
                <div class="description"> <%= conversation.messages.last.body %> </div>
                <% end %>
                <% end %>
              </div>
            </div>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>


<script charset="utf-8" id="dog-modal" text="text/x-handlebars-template">
<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">{{name}}</div>
  <div class="content">
    <div class="ui medium circular image">
      <img src ={{image}}>
    </div>
    <div class="description">
      <h3>A Little Bit About Me</h3>
      <p>{{bio}}</p>
      <ul>
        <li>Breed:{{breed}}</li>
        <li>Gender: {{gender}}</li>
        <li>Play Type:{{play}}</li>
        <li>Personality Type: {{personality}}</li>
      </ul>
    </div>
  </div>
  <div class="actions">
    <div class="ui button">OK</div>
  </div>
</div>
</script>
