<div class="ui stackable two column grid page-body">
  <div class="five wide column">
    <div class="ui segment">
      <a class="ui ribbon label"><%= @user.full_name %></a>
      <div class="ui small circular image">
        <img id="user_image" src="<%= @user.avatar %>">
      </div>

      <div class="ui segment">
        <div class="content" data-user-zipcode="<%= @user.zipcode %>">
          <p><strong>Age: </strong><%= @user.age %></p>
          <p><strong>Gender: </strong><%= @user.gender %></p>
          <p><strong>Bio: </strong><%= @user.bio %></p>
        </div>
      </div>
      <div class="ui segment extra content">
        <i class="mail icon"></i><%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: @user.id), id: "message-user-#{@user.id}", method: 'post'%>
      </div>
    </div>
  </div>
  <div class="eleven wide column">
    <div class="ui segment">
      <div class="ui header center aligned">
        <%= @user.user_name %>'s Dogs
      </div>
      <div class="horizontal divider"></div>
      <div class="ui three column padded stackable page grid">
        <% @dogs.in_groups(3) do |column_dogs| %>
        <div class="column">
          <% column_dogs.each do |dog| %>
            <% break if dog.nil? %>
            <div class="ui fluid card">
              <div class="image dimmable">
                <%= image_tag(dog.avatar_url) %>
              </div>
              <div class="content info dog" data-dog-id="<%= dog.id %>">
                <div class="header"><%= dog.name %></div>
                <div class="meta">
                  Adoring Human: <%= link_to dog.user.user_name, user_path(dog.user), class: "group" %>
                </div>
                <div class="description" data-dog-id=<%="#{dog.id}"%>>
                  <% if dog.bio.length > 100 %>
                    <p class="bio"><%= dog.bio[0..100] %>...<span id="more-link">more</span></p>
                  <% else %>
                    <p class="bio"><%= dog.bio %>...<span id="more-link">more</span></p>
                  <% end %>
                <div class="inactive" id="more-info">
                    <p>
                      <%= dog.bio %>
                      <span id="more-link">less</span>
                    </p>
                    <ul>
                      <li><strong>Breed: </strong> <%= dog.breed %> </li>
                      <li><strong>Age: </strong> <%= dog.age %></li>
                      <li><strong>Gender: </strong><%= dog.gender %></li>
                      <li><strong>Size: </strong><%= dog.size %></li>
                      <li><strong>Play: </strong><%= dog.play %></li>
                      <li><strong>Personality: </strong><%= dog.personality %></li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
     <div class="ui segment" id = "map-container">
       <h3 class="ui dividing header">Dog parks between you and <%= @user.first_name %></h3>
       <div id="mapbox_map" data-userlatitude=<%= current_user.latitude %> data-userlongitude=<%= current_user.longitude %> data-otherlatitude=<%= @user.latitude %> data-otherlongitude=<%= @user.longitude %>>
         <div class="ui active inverted dimmer" >
          <div class="ui text loader">Loading</div>
        </div>
       </div>
     </div>
  </div>
</div>
