<div class="ui grid page-body">
  <div class="five wide column">
    <div class="ui segment">
      <a class="ui ribbon label"><%= @user.full_name %></a>
      <div class="ui small circular image">
        <img id="user_image" src="<%= @user.avatar %>">
      </div>

      <div class="ui segment">
        <div class="content" data-user-zipcode="<%= @user.zipcode %>">
          <p><strong>Age: </strong><%= @user.age %></p>
          <p><strong>Gender: </strong><%= @user.gender %></p>
          <p><strong>Bio: </strong><%= @user.bio %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="eleven wide column">
    <div class="ui segment">
      <div class="ui three column padded page grid">
        <% @dogs.in_groups(3) do |column_dogs| %>
        <div class="column">
          <% column_dogs.each do |dog| %>
            <% break if dog.nil? %>
            <div class="ui fluid card">
              <div class="image dimmable">
                <div class="ui dimmer">
                  <div class="content">
                    <div class="center">
                      <div class="ui inverted button">Add Friend</div>
                    </div>
                  </div>
                </div>
                <%= image_tag(dog.avatar_url) %>
              </div>
              <div class="content dog" data-dog-id =<%= "#{dog.id}" %> >
                <div class="header"><%= dog.name %></div>
              </div>
            </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="ui segment" id = "map-container">
      <h3 class="ui dividing header">Parks between you and <%= @user.first_name %></h3>
      <div id="mapbox_map">
      </div>
    </div>
  </div>
</div>

<script charset="utf-8" id="dog-modal" text="text/x-handlebars-template">
<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">{{name}}</div>
  <div class="content">
    <div class="ui medium circular image">
      <img src ={{image}}>
    </div>
    <div class="description">
      <h3>A Little Bit About Me</h3>
      <p>{{bio}}</p>
      <ul>
        <li>Breed:{{breed}}</li>
        <li>Gender: {{gender}}</li>
        <li>Play Type:{{play}}</li>
        <li>Personality Type: {{personality}}</li>
      </ul>
    </div>
  </div>
  <div class="actions">
    <div class="ui button">OK</div>
  </div>
</div>
</script>
