<div class="ui inverted vertical image-div">
    <div class="ui page grid">
      <div class="column">
        <h2 class="ui inverted header header-text">
          PuppyLove because every dog needs a friend...
        </h2>
          <%= link_to "Sign Up", signup_path, class:"ui huge button deep-navy-background header-button", id:"top-signup-button"%>
      </div>
    </div>
  </div>
</div>


<div id="dog-table" class="ui three column padded page grid">
  <h2 class="ui header page-header center aligned">Dogs</h2>
  <div class="ui horizontal divider">currently on PuppyLove</div>
  <% @dogs[0..5].in_groups(3) do |column_dogs| %>
  <div class="column">
    <% column_dogs.each do |dog| %>
    <% break if dog.nil? %>
    <div class="ui fluid card">
      <div class="image dimmable">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted button">Add Friend</div>
            </div>
          </div>
        </div>
        <%= image_tag(dog.avatar) %>
      </div>
      <div class="content" data= "">
        <div class="header"><%= dog.name %></div>
        <div class="meta">
          Adoring Human: <%= link_to dog.user.full_name, user_path(dog.user), class: "group" %>
        </div>
        <div class="description" data-dog-id=<%="#{dog.id}"%>><%= dog.bio %>...<span id="more-link">more</span>
          <div class="inactive" id="more-info">
            <ul>
              <li><strong>Breed: </strong> <%= dog.breed %> </li>
              <li><strong>Age: </strong> <%= dog.age %></li>
              <li><strong>Gender: </strong><%= dog.gender %></li>
              <li><strong>Size: </strong><%= dog.size %></li>
              <li><strong>Play: </strong><%= dog.play %></li>
              <li><strong>Personality: </strong><%= dog.personality %></li>
            </ul>
          </div>
        </div>

      </div>
      <div class="extra content">
        <div class="ui avatar image">
          <%= image_tag(dog.user.avatar) %>
        </div>
        <% if current_user %>
          <%= dog.user.full_name  %> <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: dog.user.id), id: "message-user-#{dog.user.id}", method: 'post'%>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>


<div class="ui inverted content-div">
    <div class="ui two column grid">
      <div class="column welcome-panel-left">
        <div class="ui inverted header vertically aligned">
          <h2>PuppyLove<i class="paw icon large inverted"></i></h2>
        </div>
        <div class="ui content light-gray">
          <p class="panel-text">A new platform to connect your pets with playmates nearby.
            Through our extensive research, we've developed an algorithm
            to help match your pup with an appropriate playmate</p>
        </div>
        <%= link_to "Sign Up", signup_path, class:"ui button inverted"%>
      </div>
      <div class="column welcome-panel-right">
        <div class="ui header inverted right aligned">
          <h4>About Us</h4>
          <h4>Contact Us</h4>
          <h4>Careers</h4>
          <h4>Privacy Policy</h4>
        </div>
      </div>
    </div>
    <div class="content footer-text">
      <p class="light-gray">An App created by Dana Mulder and Rory Grant</p>
    </div>
</div>
