<div class="ui inverted vertical image-div">
    <div class="ui two column page doubling grid">
    <div class="column">
    </div>
    <div class="column center aligned">
      <h1 class="ui deep-navy">
        Puppy Play Date
      </h1>
      <h3 class="ui deep-navy">The Canine Companion Matching Service</h3>
      <% if !current_user %>
        <%= link_to "Sign Up", signup_path, class:"ui huge button inverted deep-navy header-button", id:"top-signup-button"%>
      <% end %>
    </div>
  </div>
</div>


<div id="dog-table" class="ui three column padded stackable page grid">
  <h2 class="ui header page-header center aligned">Dogs</h2>
  <div class="ui horizontal divider">currently on Puppy Play Date</div>
  <% @dogs[0..5].in_groups(3) do |column_dogs| %>
  <div class="column">
    <% column_dogs.each do |dog| %>
    <% break if dog.nil? %>
    <div class="ui fluid index card">
      <div class="image dimmable">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted button">Add Friend</div>
            </div>
          </div>
        </div>
        <%= image_tag(dog.avatar) %>
      </div>
      <div class="content info" data= "">
        <div class="header"><%= dog.name %></div>
        <div class="meta">
          Adoring Human: <%= dog.user.full_name %>
        </div>
        <div class="description" data-dog-id=<%="#{dog.id}"%>><%= dog.bio %>...<span id="more-link">more</span>
          <div class="inactive" id="more-info">
            <ul>
              <li><strong>Breed: </strong> <%= dog.breed %> </li>
              <li><strong>Age: </strong> <%= dog.age %></li>
              <li><strong>Gender: </strong><%= dog.gender %></li>
              <li><strong>Size: </strong><%= dog.size %></li>
              <li><strong>Play: </strong><%= dog.play %></li>
              <li><strong>Personality: </strong><%= dog.personality %></li>
            </ul>
          </div>
        </div>

      </div>
      <div class="extra content">
        <div class="ui avatar image">
          <%= image_tag(dog.user.avatar) %>
        </div>
        <% if current_user %>
          <%= link_to dog.user.user_name, user_path(dog.user) %> <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: dog.user.id), id: "message-user-#{dog.user.id}", method: 'post'%>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
