<div class="page-body">
  <div class="ui breadcrumb registration">
    <a class="section">Home</a>
      <i class="right chevron icon divider"></i>
    <a class="section">User Sign Up</a>
      <i class="right chevron icon divider"></i>
    <a class="section">Sign Your Dog Up</a>
      <i class="right chevron icon divider"></i>
    <div class="active section">Pup's Preferences</div>
  </div>

  <h4>Dog Preferences</h4>
  <div class="ui segment">
    <table class="ui table">
      <thead>
        <tr>
          <th>Preference</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @filters.each do |filter| %>
        <tr>
          <% if filter.id != nil %>
            <% if filter.type == "Zipcode" %>
              <td>Based on <%= filter.type %>: <%= current_user.zipcode %></td>
              <td>Change your zipcode <%= link_to "here", edit_user_path(current_user) %> </td>
            <% elsif filter.type == "BlockedUser" %>
            <% else %>
              <td><%= filter.type %> Preference: <%= filter.content %></td>
              <td><%= link_to "Delete Preference", filter_path(filter.id), method: :delete, data: {confirm: "Are you sure you want to delete this preference?"}, id: "delete-filter-#{filter.id}-action" %></td>
            <% end %>
          <% end %>
        </tr>
        <% end %>
        <% current_user.blocked_users_info.each do |blocked_hash| %>
          <tr>
            <td>Blocked User: <%= (blocked_hash[:user]).user_name %></td>
            <td><%= link_to "Unblock User", filter_path(blocked_hash[:filter_id]), method: :delete, data: {confirm: "Are you sure you want to unblock this user?"}, id: "unblock-user-#{blocked_hash[:name]}-action" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <h4 class = "header">Add Preferences</h4>
  <div class="ui sixteen wide  two column segment stackable page grid">
    <div class="row">
      <div class="eight wide column">
        <div class="ui form segment">
          <%= form_for([@user, @filter]) do |f| %>
            <div class="field">
              <%= f.label "Breed Preference" %>
              <input id="new-filter-type" name="filter[type]" type="hidden" value="Breed">
              <div class="field">
                <%= f.text_field :content, id: "breed-field" %>
              </div>
            </div>
            <div class="field">
              <div class="field">
                <%= f.submit "Add Breed Preference", id: 'breed-submit-filters', class: "ui button small" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="eight wide column">
        <div class="ui form segment">
          <%= form_for([@user, @filter]) do |f| %>
          <div class="field">
            <label>Personality Preference</label>
            <input id="new-filter-type" name="filter[type]" type="hidden" value="Personality">
            <div class="ui selection dropdown">
              <div class="default text">Personality</div>
              <i class="dropdown icon"></i>
              <input id="new-personality" name="filter[content]" type="hidden">
              <div class="menu">
                <% Personality.options.each do |opt| %>
                <div class="item" data-value=<%="#{opt}"%>><%= opt %></div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="field">
            <%= f.submit "Add Preference", id: 'personality-submit-filters', class: "ui button small" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="eight wide column">
        <div class="ui form segment">
          <%= form_for([@user, @filter]) do |f| %>
          <div class="field">
            <label>Size</label>
            <input id="new-filter-type" name="filter[type]" type="hidden" value="Size">
            <div class="field">
              <div class="ui selection dropdown">
                <div class="default text">Size</div>
                <i class="dropdown icon"></i>
                <input id="new-gender" name="filter[content]" type="hidden">
                <div class="menu">
                  <% Size.options.each do |opt| %>
                  <div class="item" data-value=<%= opt %>><%= opt %></div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <%= f.submit "Add Preference", id: 'size-submit-filters', class: "ui button small" %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="eight wide column">
        <div class="ui form segment">
          <%= form_for([@user, @filter]) do |f| %>
          <div class="field">
            <label>Gender</label>
            <input id="new-filter-type" name="filter[type]" type="hidden" value="Gender">
            <div class="field">
              <div class="ui selection dropdown">
                <div class="default text">Gender</div>
                <i class="dropdown icon"></i>
                <input id="new-gender" name="filter[content]" type="hidden">
                <div class="menu">
                  <div class="item" data-value="Female">Female</div>
                  <div class="item" data-value="Male">Male</div>
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <%= f.submit "Add Preference", id: 'gender-submit-filters', class: "ui button small" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="ui segment">
    <h2 class="center aligned ui header">Suggested Playmates</h2>
    <div id="dog-table" class="ui three column padded stackable page grid">
      <% @dogs.in_groups(3) do |column_dogs| %>
      <div class="column">
        <% column_dogs.each do |dog| %>
        <% break if dog.nil? %>
        <div class="ui fluid card">
          <div class="image dimmable">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <div class="ui inverted button">Add Friend</div>
                </div>
              </div>
            </div>
            <%= image_tag(dog.avatar) %>
          </div>
          <div class="content info dog" data= "">
            <div class="header"><%= dog.name %></div>
            <div class="meta">
              Adoring Human: <%= link_to dog.user.full_name, user_path(dog.user), class: "group" %>
            </div>
            <div class="description" data-dog-id=<%="#{dog.id}"%>>
              <% if dog.bio.length > 100 %>
                <p class="bio"><%= dog.bio[0..100] %>...<span id="more-link">more</span></p>
              <% else %>
                <p class="bio"><%= dog.bio %>...<span id="more-link">more</span></p>
              <% end %>
            <div class="inactive" id="more-info">
                <p>
                  <%= dog.bio %>
                  <span id="more-link">less</span>
                </p>
                <ul>
                  <li><strong>Breed: </strong> <%= dog.breed %> </li>
                  <li><strong>Age: </strong> <%= dog.age %></li>
                  <li><strong>Gender: </strong><%= dog.gender %></li>
                  <li><strong>Size: </strong><%= dog.size %></li>
                  <li><strong>Play: </strong><%= dog.play %></li>
                  <li><strong>Personality: </strong><%= dog.personality %></li>
                </ul>
              </div>
            </div>

          </div>
          <div class="extra content">
            <div class="ui avatar image">
              <%= image_tag(dog.user.avatar) %>
            </div>
            <% if current_user %>
              <%= link_to dog.user.full_name, user_path(dog.user)  %> | <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: dog.user.id), method: 'post'%>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
