<!DOCTYPE html>
<html>
<head>
  <title>DogPlayDateV2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="ui inverted fixed menu navbar page grid">
    <%= link_to "Puppy Love", root_path, class: "brand item" %>
    <div class="right menu">
      <% if current_user %>
        <% profile_page = is_active?(profile_path) %>
          <%= link_to current_user.user_name, profile_path, class: "ui item" %>
        <% conversation_page = is_active?(conversations_path) %>
          <%= link_to "Mailbox", conversations_path, class: "item" %>
        <% search_page = is_active?(dogs_path) %>
          <%= link_to "Search", dogs_path, class: "item" %>
          <%= link_to "Sign Out", signout_path, class: "item"%>
      <% else %>
        <% sign_up_page = is_active?(signup_path) %>
          <%= link_to 'Sign Up', signup_path, class: "item" %>
        <% sign_in_page = is_active?(signin_path) %>
          <%= link_to "Sign-In", signin_path, class: "item" %>
      <% end %>
    </div>
  </div>

  <% if notice %>
    <div class="ui positive message">
      <i class="close icon"></i>
      <div class="header">
        <p id="notice" class="text-center"><%= notice %></p>
      </div>
    </div>
  <% end %>

  <% if alert %>
  <div class="ui error message">
    <i class="close icon"></i>
    <div class="header">
      <p id="notice" class="text-center"><%= alert %></p>
    </div>
  </div>
  <% end %>

<%= yield %>

</body>
</html>
