<!DOCTYPE html>
<html>
<head>
  <title>DogPlayDateV2</title>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.css' rel='stylesheet' />
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="ui inverted deep-navy-background fixed menu navbar page grid">
  <% home_page = is_active?(root_path) %>
  <%= link_to "Puppy Love", root_path, class: "brand item #{home_page}" %>
  <div class="right menu">
    <% if current_user %>
      <% profile_page = is_active?(profile_path) %>
        <%= link_to current_user.full_name, profile_path, class: "ui item #{profile_page}", id:"#{current_user.first_name}-profile-path" %>
      <% conversation_page = is_active?(conversations_path) %>
        <% if current_user.unread_messages_count > 0 %>
          <div class="ui red label"><%= link_to current_user.unread_messages_count, conversation_messages_path(current_user.last_unread_message_conversation) %></div>
        <% end %>

      <% search_page = is_active?(dogs_path) %>
        <%= link_to "Search", dogs_path, class: "item #{search_page}" %>
        <%= link_to "Sign Out", signout_path, class: "item"%>
    <% else %>
      <% sign_up_page = is_active?(signup_path) %>
        <%= link_to 'Sign Up', signup_path, class: "item #{sign_up_page}" %>
      <% sign_in_page = is_active?(signin_path) %>
        <%= link_to "Sign In", signin_path, class: "item #{sign_in_page}" %>
    <% end %>
  </div>
</div>

<div class="page-body">
  <% if notice %>
    <div class="ui positive message">
      <i class="close icon"></i>
      <div class="header">
        <p id="notice" class="text-center"><%= notice %></p>
      </div>
    </div>
  <% end %>

  <% if alert %>
  <div class="ui error message">
    <i class="close icon"></i>
    <div class="header">
      <p id="notice" class="text-center"><%= alert %></p>
    </div>
  </div>
  <% end %>
</div>

<%= yield %>

<script charset="utf-8">
  $('.ui.dropdown').dropdown();
  $('.message .close').on('click', function() {
  $(this).closest('.message').fadeOut();
});
</script>
</body>
</html>
