<!DOCTYPE html>
<html>
<head>
  <title>DogPlayDateV2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  <%= link_to current_user.full_name, profile_path %>
  <%= link_to "Sign Out", signout_path %>
<% else %>
  <%= link_to "Sign Up", signup_path %>
  <%= link_to "Sign In", signin_path %>
<% end %>

<% if alert %>
  <%= alert %>
<% end %>

<%= yield %>

</body>
</html>
